@use 'src/components/Footer/Footer.module';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

html {
  font-family: "Trebuchet MS", sans-serif;
  color: #555555;
}

body {
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: Footer.$footer-height;
}

.AppContainer {
  padding: 5rem 10rem 0 10rem;
}
