* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Trebuchet MS", sans-serif;
  color: #555555;
}

body, html {
  min-height: 100vh;
}

.AppContainer {
  padding: 5rem 10rem 0 10rem;
}
