.AppNavbar {
  height: 5rem;
  padding: 0 2rem;
  font-family: "Trebuchet MS", sans-serif;
  width: 100vw;
  background-color: #993251;
  color: beige;
}

.AppNavbar ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.AppNavbar li {
  display: inline-block;
  list-style: none;
}

.AppNavbar li:first-child {
  margin-right: auto;
}

.AppNavbar li a {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  color: beige;
  text-decoration: none;
  height: 100%;
  line-height: 5rem;
}

.AppNavbar li a:hover {
  color: white;
}
