.AppPost {
  .title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .date {
    display: block;
    margin-bottom: 1rem;
  }

  & :not(:is(.title, .date, .PostReferencesContainer *)) {
    margin: revert;
    padding: revert;
    max-width: 100%;
  }

  .PostReferencesContainer {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
  }
}
